.header-uids {
  font-size: 62.5% !important;
  margin: 0 0 10px 0;
  padding: 0;
  min-height: 50px;
  background-color: $hawk-gold;

  &__inner {
    margin: 0 auto;
    max-width: $fixed-width;
  }

  .uilibraries-branding {
    display: flex;
    align-items: center;
    flex-basis: content;

    a.block-iowa {
      margin-right: 10px;
      padding: 15px 15px 10px 15px;
      width: auto;
      background-color: $hawk-black;

      svg {
        height: 26px;
        fill: $hawk-gold;

        path {
          transition: 0.1s;
        }

        .block-i {
          transition-delay: 0s;
        }
        .block-o {
          transition-delay: 0.03s;
        }
        .block-w {
          transition-delay: 0.06s;
        }
        .block-a {
          transition-delay: 0.09s;
        }
      }
      &:hover svg {
        path {
          opacity: 0.8;
        }
      }
    }

    h1.site-name {
      display: block !important;
      margin: 0;
      padding: 4px 0 0 0;
      @include font-size(2);
      font-weight: 300;

      a {
        font-family: $font-body;
        color: black;
        text-decoration: none;
        transition: 0.2;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
