footer.footer-uids {
  margin: 0;
  padding: 4rem 0 24rem 0;
  background-color: var(--hawk-black);
  color: white;
  font-family: $font-body;

  .footer-uids-inner {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $fixed-width;

    .footer-region {

      &--first {
        flex: 1.25;
      }

      &--second {
        flex: 1;
      }
    }

    @media (max-width: $medium-width) {
      flex-direction: column;
    }

    @media (max-width: $fixed-width) {
      margin: 0 1rem;
    }
  }

  p, ul, li {
    color: white;
    @include font-size(1.6);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .uilibraries-branding {

    .block-iowa {
      display: inline-block;
      margin: 0 0 2rem 0;
      padding: 0;
      width: auto;
      background-color: var(--hawk-black);

      svg {
        height: 54px;
        fill: var(--hawk-gold);

        path {
          transition: 0.1s;
        }

        .block-i {
          transition-delay: 0s;
        }
        .block-o {
          transition-delay: 0.03s;
        }
        .block-w {
          transition-delay: 0.06s;
        }
        .block-a {
          transition-delay: 0.09s;
        }
      }
      &:hover svg {

        path {
          opacity: 0.8;
        }
      }
    }

    .uilibraries-link {
      display: inline-block;
      margin: 0 0 2rem 0;
      padding: 0;
     
      a {
        @include font-size(2.7);
        font-weight: 700;
        font-family: $font-body;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .uilibraries-contact {

    ul {
      margin: 0;
      padding: 0 0 4rem 0;
      list-style-type: none; 

      li {

        a {
          font-family: $font-body;
          color: var(--hawk-gold);
          text-decoration: none;
          @include font-size(1.8);
          line-height: 1.8;

          svg {
            margin: 0 1rem 0 0;
            height: 2rem;
            width: 2rem;
            fill: #999;
            vertical-align: -0.125em;
          }

          &:hover {
            color: var(--hawk-gold);
            text-decoration: underline;

            svg {
              fill: #999;
            }
          }
        }
      }
    }
  }

  .uiowa-links {
    margin: 0 0 4rem 0;

    ul {

      li {
        @include font-size(1.4);
        display: inline-block;
        line-height: 1.6em;

        &:after {
          display: inline-block;
          margin: 0 0.5em 0 0.75em;
          content: "|";
        }
        &:first-of-type {
          display: block;

          &:after {
            content: none;
          }
        }
        &:last-of-type:after {
          content: none;
        }

        a {
          color: var(--hawk-gold);
        }
      }
    }
  }

  .uilibraries-additional-links {

    ul {
      
      li {

        a {
          font-family: $font-body;
          color: white;
          text-decoration: none;
          @include font-size(1.8);
          line-height: 1.5;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .uilibraries-social-media {
      margin: 1rem 0 2rem 0;

      svg {
        min-width: 200px;
        max-width: 300px;
      }

      a:focus {

        use {
          fill: var(--hawk-gold);
        }
      }
    }
    
    .uilibraries-other-links {
      margin: 2rem 0;

      svg {
        min-height: 1.8rem;
        max-height: 2.4rem;
      }

      a:focus {
        
        use {
          fill: var(--hawk-gold);
        }
      }
    }
  }



  

}
